* {
  box-sizing: border-box;
}

html, body {
  background: #4b4e6d;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
  width: 100vw;
}

.container {
  background: #ece5f0;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 #222;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  width: 100%;
}

input {
  border: none;
  border-radius: 3px;
  color: #222;
  display: block;
  font-size: 2em;
  margin: 0 auto;
  outline: none;
  padding: 10px;
  width: 100%;
}

.results {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  list-style: none;
  margin: 0 auto;
  max-height: 400px;
  max-width: 350px;
  overflow: scroll;
  padding: 0;
  width: 100%;
}

.result {
  align-items: center;
  background: #ECE5F0;
  box-shadow: 0 3px 0 0 #fff inset;
  color: #222;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
}

.hl {
  font-weight: 500;
}
